<!DOCTYPE html>
<html>
<head>
    <title>SKOs for {{ email }}</title>
    <link rel="stylesheet" href="/static/styles.css" type="text/css"/>
</head>
<body>
<center>
    <a href="http://{{ burl }}/author.html">Create a New SKO</a>
    <table>
        {% if creator_count > 0 %}
        <tr>
            <td colspan="7" class="table_head">SKOs You Created({{ creator_count }})</td>
        </tr>
        <tr>
            <td class="col_head">Title</td>
            <td class="col_head">Script Type</td>
            <td class="col_head">Last Updated</td>
            <td class="col_head" colspan="4">Action</td>
        </tr>
        {% for sko in created %}
        <tr class="data">
            <td class="indent">{{ sko['skoTitle']}}</td>
            <td class="indent">{{ sko['scriptType'] }}</td>
            <td class="indent">{{ sko['updatedDate'] }}</td>
            <td><a href="/permissions?sko_id={{ sko['skoGuid'] }}">Details</a></td>
            <td><a href="/history?sko_id={{ sko['skoGuid'] }}">History</a></td>
            <td><a href="http://{{ burl }}/author.html?guid={{ sko['skoGuid'] }}">Edit</a></td>
            <td><a href="http://{{ burl }}/player.html?guid={{ sko['skoGuid'] }}">View</a></td>
        </tr>
        {% end %}
        {% end %}
        {% if owner_count > 0 %}
        <tr>
            <td colspan="7" class="table_head">SKOs You Own({{ owner_count }})</td>
        </tr>
        <tr>
            <td class="col_head">Title</td>
            <td class="col_head">Script Type</td>
            <td class="col_head">Last Updated</td>
            <td class="col_head" colspan="4">Action</td>
        </tr>
        {% for sko in owned %}
        <tr class="data">
            <td class="indent">{{ sko['skoTitle']}}</td>
            <td class="indent">{{ sko['scriptType'] }}</td>
            <td class="indent">{{ sko['updatedDate'] }}</td>
            <td><a href="/permissions?sko_id={{ sko['skoGuid'] }}">Details</a></td>
            <td><a href="/history?sko_id={{ sko['skoGuid'] }}">History</a></td>
            <td><a href="http://{{ burl }}/author.html?guid={{ sko['skoGuid'] }}">Edit</a></td>
            <td><a href="http://{{ burl }}/player.html?guid={{ sko['skoGuid'] }}">View</a></td>
        </tr>
        {% end %}
        {% end %}
        {% if collaborator_count > 0 %}
        <tr>
            <td colspan="7" class="table_head">SKOs You Collaborate On({{ collaborator_count }})</td>
        </tr>
        <tr>
            <td class="col_head">TITLE</td>
            <td class="col_head">Script Type</td>
            <td class="col_head">Last Updated</td>
            <td class="col_head" colspan="4">Action</td>
        </tr>
        {% for sko in collaborated %}
        <tr class="data">
            <td class="indent">{{ sko['skoTitle']}}</td>
            <td class="indent">{{ sko['scriptType'] }}</td>
            <td class="indent">{{ sko['updatedDate'] }}</td>
            <!--
            <td><a href="/permissions?sko_id={{ sko['skoGuid'] }}">Edit Permissions</a></td>
            <td><a href="/history?sko_id={{ sko['skoGuid'] }}">History</a></td>
            -->
            <td><a href="http://{{ burl }}/author.html?guid={{ sko['skoGuid'] }}">Edit</a></td>
            <td><a href="http://{{ burl }}/player.html?guid={{ sko['skoGuid'] }}">View</a></td>
        </tr>
        {% end %}
        {% end %}
        {% if viewer_count > 0 %}
        <tr>
            <td colspan="7" class="table_head">SKOs You Can View({{ viewer_count }})</td>
        </tr>
        <tr>
            <td class="col_head">Title</td>
            <td class="col_head">Script Type</td>
            <td class="col_head">Last Updated</td>
            <td class="col_head" colspan="4">Action</td>
        </tr>
        {% for sko in viewable %}
        <tr class="data">
            <td class="indent">{{ sko['skoTitle']}}</td>
            <td class="indent">{{ sko['scriptType'] }}</td>
            <td class="indent">{{ sko['updatedDate'] }}</td>
            <!--
            <td><a href="/permissions?sko_id={{ sko['skoGuid'] }}">Edit Permissions</a></td>
            <td><a href="/history?sko_id={{ sko['skoGuid'] }}">History</a></td>
            <td><a href="#">Edit</a></td>
            -->            
        <td><a href="http://{{ burl }}/player.html?guid={{ sko['skoGuid'] }}">View</a></td>

        </tr>
        {% end %}
        {% end %}
    </table>
</center>
</body>
</html>
